<%- include ('../partials/head') -%>

<link rel="icon" type="image/png" href="images/icons/favicon.ico">
<link rel="stylesheet" type="text/css" href="css/main.css">

</head>

<body>
	<div class="container-xl">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-sm-5">
							<h2>User <b>Management</b></h2>
						</div>
						<div class="col-sm-7">
							<a href="#" class="btn btn-secondary" id="btn-logout"><i class="material-icons">&#xe9ba;</i>
								<span>Exit</span></a>
							<a href="#" class="btn btn-secondary" id="btn-add"><i class="material-icons">&#xE147;</i>
								<span>New post</span></a>
							<a href="/chats" class="btn btn-secondary"><i class="material-icons">&#xe0b7;</i>
								<span>Chat
									<span id='message-badge' class="badge badge-danger"></span>
								</span></a>
						</div>
					</div>
				</div>

				<form id='frm-add'>
					<div class="form-row align-items-center">
						<div class="col-auto">
							<label class="sr-only" for="inlineFormInput">Name</label>
							<input id='input-text' type="text" class="form-control mb-2" id="inlineFormInput"
								placeholder="Jane Doe">
						</div>
						<div class="col-auto">
							<button type="submit" class="btn btn-primary mb-2">Submit</button>
						</div>
					</div>
				</form>

				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Date Created</th>
							<th>Role</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody id='tableee'>
					</tbody>
				</table>
				<div class="clearfix">
					<div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
					<ul class="pagination">
						<li class="page-item disabled"><a href="#">Previous</a></li>
						<li class="page-item"><a href="#" class="page-link">1</a></li>
						<li class="page-item"><a href="#" class="page-link">2</a></li>
						<li class="page-item active"><a href="#" class="page-link">3</a></li>
						<li class="page-item"><a href="#" class="page-link">4</a></li>
						<li class="page-item"><a href="#" class="page-link">5</a></li>
						<li class="page-item"><a href="#" class="page-link">Next</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<%- include ('../partials/scripts') -%>
	<script>
		const userID = "<%= currentUser.id %>";
	</script>
	<script src="js/main.js"></script>
	<script src="js/home.js"></script>

</body>

</html>